.btn {
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: default;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
  }
}

input.loading {
  background-color: yellow;
}
input.success {
  background-color: green;
}
input.error {
  background-color: red;
}