@font-face {
  font-family: 'icons';
  src:url('https://rawgit.com/kilbot/buttons/master/fonts/icons.eot?-ke65xl');
  src:url('https://rawgit.com/kilbot/buttons/master/fonts/icons.eot?#iefix-ke65xl') format('embedded-opentype'),
  url('https://rawgit.com/kilbot/buttons/master/fonts/icons.woff?-ke65xl') format('woff'),
  url('https://rawgit.com/kilbot/buttons/master/fonts/icons.ttf?-ke65xl') format('truetype'),
  url('https://rawgit.com/kilbot/buttons/master/fonts/icons.svg?-ke65xl#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Required for <i> rotate ========= */
  display: inline-block;
}
.icon-success:before {
  content: "\f00c";
}
.icon-error:before {
  content: "\f00d";
}
.icon-cog:before {
  content: "\f013";
}
.icon-spinner:before {
  content: "\e600";
}

@include keyframes(spin) {
  0% { @include rotate(0deg); }
  100% { @include rotate(359deg); }
}
.spinner {
  @include animation(spin 2s infinite linear);
}
.spinner--steps8 {
  @include animation(spin 1s infinite steps(8));
}
.spinner--steps12 {
  @include animation(spin 1s infinite steps(12));
}

.icon-loading {
  @extend .spinner;
  @extend .icon-cog;
}