#page {
  padding: 20px;
  > ol {
    li {
      margin-bottom: 10px;
      p {
        display: inline;
        margin: 0 10px;
      }
    }
  }
  .inverse {
    background-color: #444;
    color: #fff;
    padding: 5px;
  }
}